<div class='box'>
    <div class='box-header'>
        最新加入会员
    </div>
    <div class='cell'>
        <ul class="inline user_list">
            @{
                if (ViewBag.NewUser != null)
                {
                    var user = (XBBS.Models.User)ViewBag.NewUser;
                    <li>
                        <a href="/user/info/@user.Uid" class="profile_link" title="@user.UserName">
                            @{
                    if (!string.IsNullOrEmpty(user.Avatar))
                    {
                        <img alt="@user.UserName medium avatar" class="medium_avatar" src="@Url.Content(@user.Avatar)" />
                    }
                    else
                    {
                        <img alt="@user.UserName medium avatar" class="medium_avatar" src="@Url.Content("~/uploads/avatar/default.jpg")" />
                    }
                            }
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
