<!DOCTYPE html>
<html>
<head>
    <meta content='<?php echo $title?> - ' name='description'>
    <meta charset='UTF-8'>
    <meta content='True' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>@ViewData["Title"]- @ViewBag.Setting["site_name"]</title>
    @Html.Partial("_header-meta")
</head>
<body id="startbbs">
    @Html.Partial("_header")
    <div id="wrap">
        <div class="container" id="page-main">
            <div class="row">
                <div class='col-xs-12 col-sm-6 col-md-8'>

                    <div class='box'>
                        <div class='box-header'>
                            <div class='pull-right'>
                                话题总数
                                <div class='badge badge-info'>
                                    &nbsp;@ViewData["TotalFourms"]
                                    &nbsp;
                                </div>
                            </div>
                            <a href="<?php echo site_url()?>" class="startbbs">@ViewBag.Setting["site_name"]</a>
                        </div>
                        <div class='cell'>
                            @ViewBag.Setting["site_description"]
                        </div>
                    </div>
                    @{
                        if (ViewBag.Category != null && ViewBag.Category.Count != 0)
                        {
                            if (ViewBag.Category.Count == 1)
                            {
                                <div class='box'>
                                    <div class='box-header'>
                                        所有结点
                                        <div class='fr'>
                                            <!--888-->
                                        </div>
                                    </div>
                                    @{
                                foreach (var item in (List<XBBS.Models.Category>)ViewBag.Category)
                                {
                                    <div class='admin cell topic'>
                                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                            <tr>
                                                <td class='avatar' valign='top'>
                                                    <a href="/node/@item.CId" class="profile_link" title="@item.CName">
                                                        <img alt="@item.CName medium avatar" class="medium_avatar" src="@Url.Content("~/static/common/images/section.png")" />
                                                    </a>
                                                </td>
                                                <td style='padding-left: 12px' valign='top' width="50%">
                                                    <div class='sep3'></div>
                                                    <h2 class='topic_title'>
                                                        <a href="/node/@item.CId" class="startbbs topic">@item.CName</a>
                                                    </h2>
                                                    <div class='topic-meta'>
                                                        @item.Content
                                                    </div>
                                                    <div class='topic-bottom'>
                                                        版主:@item.Master
                                                    </div>
                                                </td>
                                                <td style='padding-left: 12px;text-align:right;' valign='top' width="15%">
                                                    <div class='sep3'></div>
                                                    <div>@item.TotalForumToday/今日</div>
                                                    <div>@item.TotalForum/话题</div>
                                                </td>
                                                <td style='padding-left: 12px' valign='top' width="25%">
                                                    <div class='sep3'></div>
                                                    @{
                                    //获取新帖子
                                    if (XBBS.DataProvider.ForumDataProvider.GetForums(item.CId).Count > 0)
                                    {
                                        XBBS.Models.Forums f = XBBS.DataProvider.ForumDataProvider.GetForums((int)item.CId)[0];
                                        <div><a href="/topic/@f.FId" class="startbbs topic">@f.Title </a></div>
                                                        <div>by <a href="/user/info/@f.Uid" class="dark startbbs profile_link" title="@f.Uid">@XBBS.DataProvider.AccountDataProvider.GetUser(f.Uid).UserName</a></div>
                                                        <div>@XBBS.Core.Utils.FriendlyDate(f.UpdateTime.Value)</div>

                                    }
                                    else
                                    {
                                        <div>暂无话题</div>
                                    }
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }

                                    }

                                </div>
                            }
                            else
                            {
                                foreach (var item in ViewBag.Category)
                                {
                                    if (item.PId == 0)
                                    {
                                        <div class='box'>
                                            <div class='box-header'>
                                                @item.CName
                                                <div class='fr'>
                                                    <!--888-->
                                                </div>
                                            </div>
                                            @{

                                        if (XBBS.Models.Category.GetCatList(ViewBag.Category, item.CId).Count > 0)
                                        {

                                            foreach (XBBS.Models.Category cat in XBBS.Models.Category.GetCatList(ViewBag.Category, item.CId))
                                            {
                                                <div class='admin cell topic'>
                                                    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                                        <tr>
                                                            <td class='avatar' valign='top'>
                                                                <a href="/node/@cat.CId" class="profile_link" title="@cat.CName">
                                                                    <img alt="@cat.CName medium avatar" class="medium_avatar" src="@Url.Content("~/static/common/images/section.png")" />
                                                                </a>
                                                            </td>
                                                            <td style='padding-left: 12px' valign='top' width="50%">
                                                                <div class='sep3'></div>
                                                                <h2 class='topic_title'>
                                                                    <a href="/node/@cat.CId" class="startbbs topic">@cat.CName</a>
                                                                </h2>
                                                                <div class='topic-meta'>
                                                                    @cat.Content
                                                                </div>
                                                                <div class='topic-bottom'>
                                                                    版主:@cat.Master
                                                                </div>
                                                            </td>
                                                            <td style='padding-left: 12px;text-align:right;' valign='top' width="15%">
                                                                <div class='sep3'></div>
                                                                <div>@cat.TotalForumToday/今日</div>
                                                                <div>@cat.TotalForum/话题</div>
                                                            </td>
                                                            <td style='padding-left: 12px' valign='top' width="25%">
                                                                <div class='sep3'></div>

                                                                @{
                                                //获取新帖子
                                                if (XBBS.DataProvider.ForumDataProvider.GetForums(cat.CId).Count > 0)
                                                {
                                                    XBBS.Models.Forums f = XBBS.DataProvider.ForumDataProvider.GetForums((int)cat.CId)[0];
                                                    <div><a href="/topic/@f.FId" class="startbbs topic">@f.Title </a></div>
                                                                    <div>by <a href="/user/info/@f.Uid" class="dark startbbs profile_link" title="@f.Uid">@XBBS.DataProvider.AccountDataProvider.GetUser(f.Uid).UserName</a></div>
                                                                    <div>@XBBS.Core.Utils.FriendlyDate(f.UpdateTime.Value)</div>

                                                }
                                                else
                                                {
                                                    <div>暂无话题</div>
                                                }
                                                                }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class='cell topic'>
                                                暂无二级节点, 请到后台设定节点！
                                            </div>
                                        }
                                            }
                                        </div>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <div class='cell topic'>
                                暂无节点, 请到后台设定节点！
                            </div>
                        }
                    }
                </div>
                <div class='col-xs-12 col-sm-6 col-md-4' id='Rightbar'>
                    @Html.Partial("_right-login")
                    @Html.Partial("_right_new_users")
                    @Html.Partial("_right_new_forums")
                    @Html.Partial("_right_ad")
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_footer")
</body>
</html>
