@model XBBS.Models.User
<!DOCTYPE html>
<html>
<head>
    <meta content='注册' name='description'>
    <meta charset='UTF-8'>
    <meta content='True' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>@ViewData["Title"]- @ViewBag.Setting["site_name"]</title>
    @Html.Partial("_header-meta")
    <script type="text/javascript" src="@Url.Content("~/static/common/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/static/common/js/jquery.validate.unobtrusive.min.js")"></script>
</head>
<body id="startbbs">
    @Html.Partial("_header")
    <div id="wrap">
        <div class="container" id="page-main">
            <div class="row">
                <div class='col-xs-12 col-sm-6 col-md-8'>

                    <div class='box'>
                        <div class='cell'>
                            <a href="<?php echo site_url()?>" class="startbbs">@ViewBag.Setting["site_name"]</a> <span class="chevron">&nbsp;›&nbsp;</span> 注册
                        </div>
                        <div class='inner'>
                            @using (Html.BeginForm("Reg", "user", FormMethod.Post, new { @class = "form-horizontal", novalidate = "novalidate" }))
                            {
                                @*<form accept-charset="UTF-8" action="<?php echo site_url('user/reg');?>" class="form-horizontal" id="new_user" method="post" novalidate="novalidate">*@
                                <div style="margin:0;padding:0;display:inline">
                                    <input name="utf8" type="hidden" value="&#x2713;" />
                                    <input name="authenticity_token" type="hidden" value="zHmHYEJbz9hP+SpTe153DJH8BobrJSJ63cDjsuZayGs=" />
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, "用户名", new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" , autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(mode => mode.UserName, "",new { @class = "help-inline red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, "电子邮件", new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", size = "50" })
                                        @Html.ValidationMessageFor(mode => mode.Email, "", new { @class = "help-inline red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, "密码", new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control",data_val_required="密码必填", size = "50", type = "password" })
                                        @Html.ValidationMessageFor(mode => mode.Password, "", new { @class = "help-inline red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="user_password_confirmation">密码确认</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="user_password_confirmation" name="password_c" size="50" type="password" value="" /><span class="help-inline red"></span>
                                    </div>
                                </div>

                                if (ViewBag.Setting["show_captcha"] == "on")
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="captcha_code">验证码</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" data-val="true" data-val-required="验证码必须输入" id="captcha_code" name="captcha_code" size="50" type="text" value="" />
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="help-inline red"> <a href="javascript:reloadcode();" title="更换一张验证码图片"><img src="/User/CaptchaCode?w=80&h=40" id="checkCodeImg" border="0" /></a> <a href="javascript:reloadcode();">换一张</a><?php echo form_error('captcha_code');?></span>
                                        </div>
                                    </div>
                                    <script language="javascript">
                                        //刷新图片
                                        function reloadcode() {//刷新验证码函数
                                            var verify = document.getElementById('checkCodeImg');
                                            verify.setAttribute('src', '/User/CaptchaCode?w=80&h=40&' + Math.random());
                                        }
                                    </script>
                                }
                                <div class='form-group'>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" name="commit" class="btn btn-primary">注册</button>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                </div>
                <div class='col-xs-12 col-sm-6 col-md-4' id='Rightbar'>
                    @Html.Partial("_right-login")
                    @Html.Partial("_right_ad")
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_footer")
</body>
</html>